/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -------------------------------- */

html {
  height: 100%;
}
/* The body styles */
body {
  background-color: #2f3035;
  background-image: url(../img/background-adare-restaurant.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
/* -------------------------------- */

/* The Overwrapping  Website Container */
.container {
  margin: 0 auto; /*To center the container*/
  width: 1024px;
}
/* -------------------------------- */

/* The Header */
header {
  height: 118px;
  text-align: center;
}
/* -------------------------------- */

/* Navigation Bar */
nav {
  background-color: rgba(0, 0, 0, 0.338);
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  padding: 10px;
}

nav a:hover {
  color: rgb(131, 130, 130);
  transition: all 5ms ease-out;
}

nav a:active {
  color: black;
  transition: all 5ms ease-out;
}

/* -------------------------------- */

/* Main Section of the Website */
main {
  height: 400px;
  text-align: center;
  padding: 80px 240px;
}

h1 {
  font-size: 84px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 40px;
}

main a {
  text-decoration: none;
  color: white;
  padding: 15px;
  background-color: black;
  border-radius: 20px;
}

main a:hover {
  background-color:white;
  color: black;
  transition: all 5ms ease-out;
}

/* -------------------------------- */

/* Google maps Section */

.googlemaps {
  padding-bottom: 20px;
}
/* -------------------------------- */

/* The Footer of thr website */
footer {
  background-color: rgba(0, 0, 0, 0.538);
  padding-top: 80px;
  padding-bottom: 50px;
  text-align: center;
}

footer p {
  font-size: 12px;
}