/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* -------------------------------- */

html {
  height: 100%;
}
/* The body styles */
body {
  background-color: #2f3035;
  background-image: url(../img/background-adare-restaurant.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
/* -------------------------------- */

/* The Overwrapping  Website Container */
.container {
  margin: 0 auto; /*To center the container*/
  width: 1024px;
}
/* -------------------------------- */

/* The Header */
header {
  height: 118px;
  text-align: center;
}
/* -------------------------------- */

/* Navigation Bar */
nav {
  background-color: yellow;
  height: 40px;
}
/* -------------------------------- */

/* Main Section of the Website */
main {
  height: 400px;
  text-align: center;
  padding: 80px 240px;
}

h1 {
  font-size: 84px;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: white;
  padding: 15px;
  background-color: black;
  border-radius: 20px;
}

a:hover {
  background-color:white;
  color: black;
  transition: all 5ms ease-out;
}

/* -------------------------------- */

/* The Footer of thr website */
footer {
  background-color: rgb(34, 228, 34);
  height: 40px;
}